.app-header {
	background-color: $primary-color;
	color: set-text-color($primary-color);
	text-transform: uppercase;
	.header-nav {
		a {
			margin-inline-end: 2rem;
			padding: 1rem 0;
		}
	}
	.header-cart-link {
		margin-inline-end: 0.5rem;
		:first-child {
			margin-inline-end: 0.5rem;
		}
	}
	.header-price {
		color: rgb(204, 204, 204);
	}
}
@media screen and (max-width: 480px) {
	.app-header {
		.header-nav {
			a {
				font-size: 0.8rem;
				margin-inline-end: 0.5rem;
			}
		}
		.header-cart-link {
			font-size: 0.8rem;
			margin-inline-end: 0.3rem;
			:first-child {
				margin-inline-end: 0.3rem;
			}
		}
	}
}
