.cards-list {
	margin: 2rem 0;
	.cards-wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		flex: 1;
		gap: 20px;
		li {
			width: 30%;
			border-radius: 3px;
		}
	}
	.icon-card {
		.img-container {
			img {
				object-fit: contain;
			}
			margin-bottom: 1rem;
			height: 180px;
			max-height: 300px;
		}
		h3 {
			margin-bottom: 1rem;
			color: $secondary-color2;
		}
		p {
			margin-bottom: 1rem;
		}
		.action-btn {
			padding: 0.6rem;
			width: fit-content;
		}
		border-radius: 3px;
		border: 1px solid $info-color;
	}
}

@media screen and (max-width: 580px) {
	.cards-list {
		.cards-wrapper {
			justify-content: space-around;
			gap: 5px;
			li {
				width: 40%;
			}
		}
	}
}
