.testimonial-list {
	background-color: $primary-color;

	&__inner {
		margin-block-end: rem(150px);

		.testimonial-wrapper {
			gap: 40px;
			.testimonial {
				width: rem(380px);
				background-color: $primary-color-dark3;
				padding: rem(25px);

				p {
					color: $light-color;
					font-family: OpenSans-Regular;
					width: rem(310px);
					margin-block-end: rem(15px);
				}

				.testimonial-user-profile {
					width: rem(118px);

					h4 {
						color: $light-color;
						font-family: OpenSans-Regular;
						font-weight: 700;
						font-size: rem(10px);
					}

					p {
						font-weight: 700;
						font-size: rem(7px);
					}

					img {
						width: rem(18px);
						height: rem(18px);
						border-radius: 50%;
						margin-inline-end: rem(8px);
					}
				}
			}
		}
	}
}
