.home {
	.img-container {
		background: url('https://image.shutterstock.com/image-vector/online-shopping-store-concept-laptop-600w-1487314571.jpg') -20%
			20%;
		position: relative;
		height: 30vh;
		width: 100%;
		::before {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 10;
			background-color: #0001;
			position: absolute;
		}
	}
}
