//  opensans

// @font-face {
//   font-family: 'OpenSans-Regular';
//   src: url('@/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'OpenSans-Bold';
//   src: url('@/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf') format('truetype');
// }

//  raleway
// @font-face {
//   font-family: 'Raleway-Regular';
//   src: url('@/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Raleway-Bold';
//   src: url('@assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
// }

// Roboto
@font-face {
  font-family: 'Roboto-Regular';
  src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family:' Roboto-Bold';
  src: url('@/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('@/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
