// COLORS
$primary-color: hsl(217, 28%, 15%);
$primary-color-dark1: hsl(218, 28%, 13%);
$primary-color-dark2: hsl(216, 53%, 9%);
$primary-color-dark3: hsl(219, 30%, 18%);

$secondary-color1: hsl(176, 68%, 64%);
$secondary-color2: hsl(198, 60%, 50%);

$neutral-color-light: hsl(0, 0%, 100%);

$dark-color: #000000;
$dark-color1: #212529;
$dark-color2: #333;
$dark-color3: #343a40;
$dark-color4: #525252;
$dark-color5: #495057;
$dark-color7: #9a9a9a;

$light-color: #ffffff;
$light-color1: #f8f9fa;
$light-color2: #f1f3f5;
$light-color3: #e9ecef;
$light-color4: #eeeeee;
$light-color5: #adb5bd;

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 146px;

// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 860px;
$break-narrow: 1024px;
$break-normal: 1300px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
